@model MovingMountains.Models.ActivityPhoto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityPhoto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.completeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.completeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myActivityPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myActivityPhoto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.photoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
