@model IEnumerable<MovingMountains.Models.GovernedLand>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isNationalPark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isStatePark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isNationalForest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.landName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.isNationalPark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isStatePark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isNationalForest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.landName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.landId }) |
            @Html.ActionLink("Details", "Details", new { id=item.landId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.landId })
        </td>
    </tr>
}

</table>
