@model MovingMountains.Models.ActivityComplete

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ActivityComplete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.activityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hrsToComplete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hrsToComplete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myDifficultyScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myDifficultyScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myActivityScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myActivityScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isFavorite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isFavorite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myActivityNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myActivityNotes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
