@model Moving_Mountains.Models.TrailDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrailDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.activityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rangeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rangeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.landId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trailMiles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trailMiles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trailElevationMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trailElevationMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trailElevationGain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trailElevationGain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trailNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trailNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isHikeTrail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isHikeTrail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isBackpackTrail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isBackpackTrail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isBikeTrail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isBikeTrail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isSkiTrail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isSkiTrail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isVisitorTrail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isVisitorTrail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.trailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
