@model IEnumerable<Moving_Mountains.Models.TrailDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.activityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rangeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.landId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trailMiles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trailElevationMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trailElevationGain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trailNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isHikeTrail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isBackpackTrail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isBikeTrail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isSkiTrail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isVisitorTrail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.activityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rangeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.landId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trailMiles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trailElevationMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trailElevationGain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trailNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isHikeTrail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isBackpackTrail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isBikeTrail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isSkiTrail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isVisitorTrail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.trailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.trailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.trailId })
        </td>
    </tr>
}

</table>
